<div class="jumbotron">
	<h1 class="text-center">Название: <%= @post.title %></h1>
	<p>
	  <h2 class="text-center">Краткое содержание: <%= @post.summary %></h2>
	  
	</p>
	<p>
		<h3>Содержание:</h3>
		<ul>	
		<% @post.chapters.each do |chapter| %>
			<li><%= link_to chapter.title, "##{dom_id(chapter)}" %></li>
			<hr>
		<% end %>
		</ul>

	</p>
	<p>
		<% @post.chapters.each.with_index do |chapter,i| %>
			<h1 class="text-center" id="<%= dom_id(chapter) %>">
				Глава <%= i + 1 %>. <%= chapter.title %>
			</h1>
			<p>
				<%= chapter.content %>
			</p>
		<% end %>
	</p>

	<% if user_signed_in? && current_user.id == @post.user_id %>
		<%= link_to 'Редактировать',edit_post_path(@post) %> |
	<% end %>
	<%= link_to 'Назад', posts_path %>

</div>