<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @post.summary %>
</p>
<p>
	<% @post.chapters.each.with_index do |chapter,i| %>
		<h1><%= i + 1%>. <%= chapter.title %></h1>
		<p><%= chapter.content %></p>
		<hr>
	<% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
